<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Desafio RocketSeat</title>
</head>
<body>
<div class="container-main">
<div class="cln1">
<div class="ctnt-1">
    <div class="image-box">
        <img src="/images/hans-eiskonen-8Pm_A-OHJGg-unsplash 1.png" alt="image">
    </div>
    <div class="nome-banda">
        <h4>Acorda Devinho</h4>
        <p>Banda RocketSeat</p>
    </div>

    <div class="buttons-box">

      <div class="back-music-box">
       <img src="/images/play-back.png" alt="voltar">
      </div>

      <div class="pause-music-box">
        <img id="playId" src="/images/play (1).png" alt="play">
       <img class="hidden" id="pauseId" src="/images/pause.png" alt="pause">
      </div>

<div class="next-music-box">
    <img src="/images/play-forward.png" alt="avançar">
</div>
    </div>

<div class="time-music" id="timeMusicBox">
<input type="range" name="range" id="musicDuration" min="0" max="1">
</div>
<div class="duracao">
    <div>
        <p class="inicio">00:00</p>
    </div>

    <div>
        <p class="final">0:00</p>
    </div>
</div>  

</div>
</div>

<div class="cln2">

   <div class="ctnt-2">
<div class="foto-title">
<img src="/images/hans-eiskonen-8Pm_A-OHJGg-unsplash 1.png" alt="">
<div class="nome-banda ctnt-2-title">
    <h4>Acorda Devinho</h4>
    <p>Banda RocketSeat</p>
</div>
</div>

<div class="container-btns-ctnt-2">
  <div class="buttons-box ctnt-2-btns">

      <div class="back-music-box">
       <img src="/images/play-back.png" alt="voltar">
      </div>

      <div class="pause-music-box">
        <img id="ctnt2-playId" src="/images/play (1).png" alt="play">
       <img class="hidden" id="ctnt2-pauseId" src="/images/pause.png" alt="pause">
      </div>

<div class="next-music-box">
    <img src="/images/play-forward.png" alt="avançar">
</div>

    </div>

<div class="ctnt-2-time">
<img class="tempo-musica" src="/images/Frame 7905.png" alt="tempo-percorrido">
</div>
   </div> 
</div>


   <div class="ctnt-3">
    <div class="foto-title">
        <img src="/images/hans-eiskonen-8Pm_A-OHJGg-unsplash 1.png" alt="">
        <div class="nome-banda ctnt-2-title">
            <h4>Acorda Devinho</h4>
            <p>Banda RocketSeat</p>
        </div>
        </div>
        
          <div class="buttons-box ctnt-3-btns">

      <div class="back-music-box">
       <img src="/images/play-back.png" alt="voltar">
      </div>

      <div class="pause-music-box">
        <img id="ctnt3-playId" src="/images/play (1).png" alt="play">
       <img class="hidden" id="ctnt3-pauseId" src="/images/pause.png" alt="pause">
      </div>

<div class="next-music-box">
    <img src="/images/play-forward.png" alt="avançar">
</div>

    </div>
   </div>
</div>

</div>


<audio id="audio" src="/audios/this-girl-official-music-video.mp3"></audio>

<script src="/javascripts/audio.js"></script>
</body>
</html>