<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
<title>SofaStore</title>
</head>
<body>
<div class="container">


  <div class="sofa-box">
    <span id="360">a</span>
    <img src="../images/Frame 7856.png" alt="sofa">
    
  </div>

  <div class="container-modal">
    <div class="modal-gif">
      <span id="closeBtn" class="material-symbols-outlined">
        close
        </span>
        <iframe class="gif" src="https://giphy.com/embed/vRrSLGpRhIvC6qM6Me" width="480" height="270" frameBorder="0" allowFullScreen></iframe>
      </div>
      <div class="contentNull">
      </div>
    </div>

<div class="info">
<div class="codigo">
<small>CÓDIGO: 42404</small>
</div>
<h1>Sofá Margot II - Rosé</h1>
<div class="preco">
<p> R$ 4.000</p>
</div>
<button>ADICIONAR À CESTA</button>
</div>

</div>





<script src="/javascripts/main.js"></script>
</body>
</html>